

<div class="container">
    <div class="row">
          <div id="burgerPhoto" class="col-sm-12">
            <img src="Assets/css/image/hamburger.png">
          </div>
    </div>
    <div class="row">
        {{!-- Undevoured Burger --}}
        <div class="col-sm-6">
      {{#each burgers}}
        
        {{#unless this.Devoured}}

            <button type="submit" class="eatburger btn btn-warning" data-id="{{this.id}} data-newDevoured="{{Devoured}}"" >{{this.Burger_name}}</button>
            <br>
        

           
        {{/unless}}


      {{/each}}

        </div>
        <div class="col-sm-6">
            
         {{#each burgers}}

            {{#if this.Devoured}}
            
                {{Burger_name}}
                
            {{/if}}
         {{/each}}

        </div>
    </div>


    <div class="row" id="inputBurger">
        <div id="burgerAddition" class="col-sm-12">
            <form action ="/burgers" method="POST">
            <input type="text" id="burgersName" placeholder ="What's burger is in your mind?"> 
            <br> 
            <button id="addBurger" type="submit" class="btn btn-dark">Add Burger</button>
            </form>
        </div>
    </div>
</div>