

<div class="container">
    <div class="row">
          <div id="burgerPhoto" class="col-sm-12">
            <img src="Assets/css/image/hamburger.png">
            <h2>Eat-Da-Burger</h2>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
      {{#each burgers}}
        
        {{#unless Devoured}}

           {{Burger_name}}
           <button class="devouredBtn">
               Devoured!
           </button>
           <br>
        {{/unless}}


      {{/each}}

        </div>
        <div class="col-sm-6">
            
         {{#each burgers}}

            {{#if Devoured}}

                {{Burger_name}}

            {{/if}}
         {{/each}}

        </div>
    </div>


    <div class="row" id="inputBurger">
        <div id="burgerAddition" class="col-sm-12">
            <input type="text" id="burgersName" placeholder ="What's burger is in your mind?">  
            <button id="addBurger" type="button" class="btn btn-dark">Add Burger</button>
        </div>
    </div>
</div>